:root {
  --strongCyan: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --darkGrayishCyan2: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --lightGrayishCyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --lightCyan: rgb(159, 232, 223);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
body {
  background-color: hsl(185, 41%, 84%);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrayishCyan);
}
.group {
  width: 70%;

  border-radius: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 1.2rem;
  background-color: var(--white);
}
.form {
  height: 100%;
  padding: 1.2rem;
  color: var(--darkGrayishCyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  position: relative;
}

.icon-logo {
  position: absolute;
  left: 0;
  top: 30px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

/* -------------------------------------------------- */

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  gap: 1rem;
}
.radio-wrapper input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-wrapper label {
  width: 100%;
  display: inline-block;
  background: var(--veryDarkCyan);
  padding: 0.8rem;
  font-family: sans-serif, Arial;
  font-size: 16px;
  font-weight: 700;
  border-radius: 7px;
  color: var(--white);
  border: 1px solid var(--veryDarkCyan);
  text-align: center;
}
.radio-wrapper input[type="radio"]:checked + label {
  color: var(--veryDarkCyan);
  background-color: var(--lightCyan);
  border-color: var(--lightCyan);
}
.radio-wrapper label:hover {
  color: var(--veryDarkCyan);
  background-color: var(--lightCyan);
  border-color: var(--veryDarkCyan);
}

.custom input[type="radio"]:checked + label {
  display: none;
}
.custom input[type="radio"]:checked ~ .custom-tip {
  display: block;
}

.custom-tip {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 7px;
  text-align: right;
  background-color: var(--lightGrayishCyan);
  outline-color: var(--strongCyan);
  border: 2px solid var(--strongCyan);
  padding-right: 10px;
}

/* -------------------------------------------------- */

.number {
  cursor: pointer;
  width: 100%;
  height: 38px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 7px;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--darkGrayishCyan);
  background-color: var(--lightGrayishCyan);
  outline-color: var(--strongCyan);
  margin-top: 3px;
  text-align: right;
}
.number:hover {
  border: 2px solid var(--strongCyan);
}
/* -------------------------------------------------- */

/* Results */
.results {
  width: 100%;
  border-radius: 10px;
  padding: 2.2rem;
  background-color: var(--veryDarkCyan);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1rem;
}
.tip-amount-label {
  grid-area: 1 / 1 / 2 / 2;
}
.total-amount {
  grid-area: 1 / 2 / 2 / 3;
}
.person-label {
  grid-area: 2 / 1 / 3 / 2;
}
.total-person {
  grid-area: 2 / 2 / 3 / 3;
}
.results .reset {
  grid-area: 4 / 1 / 5 / 3;
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--veryDarkCyan);
  margin-top: auto;
}
.reset-button:hover {
  background-color: var(--lightCyan);
}

.reset-button {
  background-color: var(--strongCyan);
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--veryDarkCyan);
}

.results label {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 700;
}

.total-result {
  font-size: 2rem;
  font-weight: 800;
  color: var(--strongCyan);
  justify-self: flex-end;
}
@media screen and (max-width: 900px) {
  .group {
    height: auto;
    width: auto;
  }
}
